.DS_Store
src/.DS_Store
src/analisis/.ipynb_checkpoints/ranking-checkpoint.ipynb
src/analisis/.ipynb_checkpoints/ranking_v2-checkpoint.py
src/analisis/.ipynb_checkpoints/RANKING_V3-checkpoint.ipynb
src/transformacion/csv_peleas.csv
df_limpio.csv
df_peleas_limpio.csv
data
src/extraccion/fighters_completos.csv
.venv
sr/data